# Dependencies
node_modules/

# Build
dist/
out/
build/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.db
*.db-journal

# Prisma
/src/generated/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Skills

.agents/